.c-header__cell-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: $spacing-2;
  max-width: fit-content;
  user-select: none;
  cursor: pointer;

  &--owner {
    cursor: default;

    @include respond-to-tablet {
      display: none;
    }
  }
}

.c-header__cell {
  display: flex;
  align-items: center;
  padding-left: $spacing-5;
  font-size: $font-xs;
  font-family: $font-rounded;
  text-transform: capitalize;
}

.c-multiple-arrow {
  opacity: 1;
  transition: opacity 0.2s $customBezier;

  &.selected {
    opacity: 0;
  }
}

.c-header__sort-indicator {
  position: absolute;
  right: -$spacing-2;
}
