.c-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-3;
  height: 50px;
  border-radius: $radius-large;
  padding: 0 $spacing-4;
  background-color: $blue-gray-900;
  box-shadow:
    inset 0 0 0 1px $blue-gray-700,
    0px 4px 6px -4px oklch(0% 0 0 / 0.2),
    0px 10px 15px -3px oklch(0% 0 0 / 0.2);
  font-family: $font-sans;
  font-size: $font-small;
  width: 100%;
  max-width: 230px;
  cursor: pointer;
  transition: all 0.4s $customBezier;

  &.is-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
  }

  @include respond-to-tablet {
    max-width: calc(50% - $spacing-2);
  }

  @include respond-to-mobile {
    max-width: 100%;
  }
}

.c-input__label {
  color: $blue-gray-300;
  white-space: nowrap;
}

.c-input__value {
  display: flex;
  align-items: center;
  color: $blue-gray-50;
  margin-left: auto;
  margin-right: $spacing-2;
  max-width: fit-content;
}

.c-input__field {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
