@use "./variables" as *;

@mixin fontCode {
  font-family: $font-mono;
  font-weight: 400;
  line-height: $font-base;
  letter-spacing: 0;
}

@mixin fontNumeric {
  font-family: $font-mono;
  font-weight: 400;
  line-height: $font-base;
}

@mixin fontLabel {
  font-family: $font-sans;
  font-weight: 500;
  font-size: $font-base;
  line-height: $spacing-5;
  letter-spacing: -0.15px;
}

@mixin respond-to-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin respond-to-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin dropShadow {
  box-shadow: 0px 4px 6px -4px oklch(0% 0 0 / 0.2);
  box-shadow: 0px 10px 15px -3px oklch(0% 0 0 / 0.2);
}
