@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

$font-sans: "Inter", sans-serif;
$font-mono: "DM Mono", monospace;
$font-rounded: "Manrope", sans-serif;

$font-base: 1rem;
$font-small: 0.875rem;
$font-large: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 2.25rem;
$spacing-10: 2.5rem;

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;

$blue-gray-900: oklch(25.372% 0.01354 253.114 / 0.8);
$blue-gray-700: oklch(37.173% 0.04497 257.445 / 0.502);
$blue-gray-300: oklch(70.382% 0.04025 257.029);
$blue-gray-500: oklch(44.539% 0.04305 257.445);
$blue-gray-200: oklch(80.281% 0.02279 239.634);
$blue-gray-50: oklch(98.463% 0.00181 249.248);
$green-500: oklch(67.451% 0.14374 155.442);
$green-700: oklch(52.059% 0.10743 155.904);
$red-500: oklch(65.335% 0.18347 23.66);
$red-700: oklch(50.526% 0.13791 23.398);
$purple-100: oklch(41.266% 0.13864 304.901);
$purple-50: oklch(41.266% 0.13864 304.901 / 0.102);

$customBezier: cubic-bezier(0.76, 0, 0.24, 1);
