@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

$font-sans: "Inter", sans-serif;
$font-mono: "DM Mono", monospace;
$font-rounded: "Manrope", sans-serif;

$font-base: 1rem;
$font-small: 0.875rem;
$font-large: 1.25rem;
$font-xl: 1.5rem;
$spacing-xxl: 2.25rem;
$font-xxxl: 2.5rem;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 2.25rem;
$spacing-10: 2.5rem;
$spacing-11: 2.75rem;

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;

$blue-gray-900: #1e2329cc;
$blue-gray-700: #31415880;
$blue-gray-300: #90a1b9;
$blue-gray-500: #45556c;
$blue-gray-200: #b2c1cc;
$blue-gray-50: #f9fafb;
$green-500: #37b06f;
$green-700: #277b4e;
$red-500: #eb5757;
$red-700: #a53d3d;
$purple-100: #5d3186;
$purple-50: #5d31861a;
$gray-900: #151a1e;
$gray-800: #33414c;

$customBezier: cubic-bezier(0.76, 0, 0.24, 1);
