.c-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: $radius-large;
  padding: 0 $spacing-4;
  background-color: $blue-gray-900;
  box-shadow:
    inset 0 0 0 1px $blue-gray-700,
    0px 4px 6px -4px oklch(0% 0 0 / 0.2),
    0px 10px 15px -3px oklch(0% 0 0 / 0.2);
  font-family: $font-sans;
  font-size: $font-small;
  width: 100%;
  max-width: 230px;
  cursor: pointer;
}

.c-select__label {
  color: $blue-gray-300;
}

.c-select__value {
  display: flex;
  align-items: center;
  color: $blue-gray-50;
  margin-left: auto;
  margin-right: $spacing-2;
}

.c-select__arrow {
  width: 8px;
  margin-top: $spacing-1;
  transition: transform 0.4s $customBezier;

  &.is-open {
    transform: rotate(180deg);
  }
}

.c-select__menu {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: $spacing-2;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $blue-gray-900;
  border-radius: $radius-large;
  box-shadow:
    0px 4px 6px -4px oklch(0% 0 0 / 0.2),
    0px 10px 15px -3px oklch(0% 0 0 / 0.2);
  margin-top: $spacing-2;
  z-index: 10;
  padding: $spacing-4;
  backdrop-filter: blur(10px);
}

.c-select__option {
  padding: $spacing-2;
  border-radius: $radius-medium;
  transition: background-color 0.4s ease;

  &:hover:not(.is-selected) {
    background-color: oklch(from $blue-gray-700 l c h / 0.3);
  }

  &.is-selected {
    background-color: $blue-gray-700;
  }

  &:hover {
    background-color: $blue-gray-700;
  }
}
