.c-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(
      -45deg,
      oklab(15.662999999999998% -0.00354 -0.00548 / 0.2),
      oklab(40.321% -0.05912 0.01615 / 0.2),
      oklab(69.331% -0.03998 -0.1584 / 0.2),
      oklab(43.543% -0.0296 -0.13074 / 0.2),
      oklab(15.662999999999998% -0.00354 -0.00548 / 0.2)
    ),
    linear-gradient(180deg, #181f25 0%, #181f25 100%);
  background-size:
    250% 250%,
    250% 250%;
  animation: gradient 20s ease-in-out infinite;
}

.c-page-background {
  position: fixed;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.c-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 69rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position:
      0% 50%,
      center;
  }
  50% {
    background-position:
      100% 50%,
      center;
  }
  100% {
    background-position:
      0% 50%,
      center;
  }
}
