.c-row {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 5;
  font-size: $font-small;
  border-bottom: 0.5px solid $gray-800;
  cursor: pointer;

  &:last-of-type {
    border-bottom: none;
  }
}

.c-cell {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: $spacing-5;
  font-family: $font-rounded;
  z-index: 2;

  &.c-cell--owner {
    font-family: $font-mono;
    color: $blue-gray-200;
  }
}

.c-cell__ilk {
  color: $blue-gray-200;
  margin-left: 2px;
}

.c-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $purple-50;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 3px;
    left: 0;
    top: 0;
    background-color: $purple-100;
  }
}
