.c-table {
  flex: 1;
  display: grid;
  grid-template-columns: 0.75fr 3fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;

  @include respond-to-tablet {
    grid-template-columns: repeat(4, 1fr);
  }
}

.c-table__header-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 5;
  height: 2.75rem;

  @include respond-to-tablet {
    grid-column: span 4;
    gap: $spacing-3;
    margin-bottom: $spacing-3;
  }

  @include respond-to-mobile {
    grid-template-columns: 1fr 1fr;
    height: fit-content;
  }
}

.c-table__data {
  position: relative;
  background-color: $gray-900;
  border-radius: $radius-medium;
  border: 1px solid $gray-800;
  width: 100%;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 5;
  overflow: auto;
  height: 32rem;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #252f37;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #3d4e5c;
    border-radius: 4px;
  }

  @include respond-to-tablet {
    grid-column: span 4;
  }
}

.c-table__empty {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $font-rounded;
  font-size: $font-xl;
}
