.c-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(180deg, #181f25 0%, #181f25 100%),
    radial-gradient(
      70.32% 115.03% at 50% 24.95%,
      rgba(10, 13, 15, 0.2) 56.29%,
      rgba(36, 83, 64, 0.2) 75.69%,
      rgba(81, 157, 255, 0.2) 86.42%,
      rgba(23, 79, 153, 0.2) 89.66%,
      rgba(10, 13, 15, 0.2) 99.5%
    );
  background-size: 100% 100%;
}

.c-page-background {
  position: fixed;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.c-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  max-width: 69rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
