.c-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("@assets/bg.png");
  background-size: cover;
}

.c-page-background {
  position: fixed;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.c-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  max-width: 69rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
